version: '3.8'

services:
  app:
    build:
      context: ..
      dockerfile: deployment/Dockerfile
    ports:
      - "8501:8501"
    volumes:
      - ..:/app
    environment:
      - STREAMLIT_SERVER_PORT=8501
    env_file:
      - ../.env
    restart: unless-stopped
